@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .pBtn {
    @apply type-lg flex justify-center items-center space-x-4 md:space-x-5 max-w-max w-full;
  }
  .pBtn svg {
    @apply h-1.5 transition-transform;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@font-face {
  font-family: Grafier;
  font-style: normal;
  font-weight: 400;
  src: url("./Grafier-Variable.ttf");
}

body {
  font-family: Grafier, serif;
}

* {
  scrollbar-width: none !important;
  outline: none;
}

*::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.h-screen-calc {
  height: calc(var(--vh, 1vh) * 100);
}

@media screen and (min-width: 768px) {
  .h-screen-calc {
    height: 100vh;
  }
}

/* Carousel CSS */

.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus {
  outline: none;
}

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* draggable */

.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.image-carousel .flickity-prev-next-button.previous {
  position: absolute;
  left: 50%;
  top: 1rem;
  width: 54px;
  height: 32px;
  transform: translateX(-125%);
  background: transparent;
  z-index: 30;
}

.image-carousel .flickity-prev-next-button.next {
  position: absolute;
  left: 50%;
  top: 1rem;
  width: 54px;
  height: 32px;
  transform: translateX(25%);
  z-index: 30;
}
.post-carousel .flickity-prev-next-button.previous {
  position: absolute;
  right: 5.5rem;
  top: -7rem;
  width: 54px;
  height: 32px;
}

.post-carousel .flickity-prev-next-button.next {
  position: absolute;
  right: 1rem;
  top: -7rem;
  width: 54px;
  height: 32px;
}

@screen sm {
  .post-carousel .flickity-prev-next-button.previous {
    right: 7.5rem;
    top: -7rem;
  }

  .post-carousel .flickity-prev-next-button.next {
    right: 3rem;
    top: -7rem;
  }
}

@screen md {
  .post-carousel .flickity-prev-next-button.previous {
    right: 8.5rem;
    top: -7rem;
  }

  .post-carousel .flickity-prev-next-button.next {
    right: 4rem;
    top: -7rem;
  }
}

@screen lg {
  .right-carousel .flickity-prev-next-button.previous {
    position: absolute;
    right: 195px;
    top: 1.5rem;
    width: 54px;
    height: 32px;
    z-index: 30;
  }

  .right-carousel .flickity-prev-next-button.next {
    position: absolute;
    right: 110px;
    top: 1.5rem;
    width: 54px;
    height: 32px;
    z-index: 30;
  }
  .post-carousel .flickity-prev-next-button.previous {
    right: 16.5rem;
    top: -7rem;
  }

  .post-carousel .flickity-prev-next-button.next {
    right: 12rem;
    top: -7rem;
  }
}

@screen xl {
  .post-carousel .flickity-prev-next-button.previous {
    right: 21rem;
    top: -8rem;
  }

  .post-carousel .flickity-prev-next-button.next {
    right: 16rem;
    top: -8rem;
  }
}

.flickity-prev-next-button .flickity-button-icon {
  opacity: 0;
}
