/*
! tailwindcss v3.0.15 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
*/

html {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/*
Ensure the default browser behavior of the `hidden` attribute.
*/

[hidden] {
  display: none;
}

[type='text'],[type='email'],[type='url'],[type='password'],[type='number'],[type='date'],[type='datetime-local'],[type='month'],[type='search'],[type='tel'],[type='time'],[type='week'],[multiple],textarea,select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  border-color: #6b7280;
  border-width: 1px;
  border-radius: 0px;
  padding-top: 0.5rem;
  padding-right: 0.75rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-shadow: 0 0 #0000;
}

[type='text']:focus, [type='email']:focus, [type='url']:focus, [type='password']:focus, [type='number']:focus, [type='date']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='week']:focus, [multiple]:focus, textarea:focus, select:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #2563eb;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  border-color: #2563eb;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #6b7280;
  opacity: 1;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #6b7280;
  opacity: 1;
}

input::placeholder,textarea::placeholder {
  color: #6b7280;
  opacity: 1;
}

::-webkit-datetime-edit-fields-wrapper {
  padding: 0;
}

::-webkit-date-and-time-value {
  min-height: 1.5em;
}

select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  padding-right: 2.5rem;
  -webkit-print-color-adjust: exact;
          color-adjust: exact;
}

[multiple] {
  background-image: initial;
  background-position: initial;
  background-repeat: unset;
  background-size: initial;
  padding-right: 0.75rem;
  -webkit-print-color-adjust: unset;
          color-adjust: unset;
}

[type='checkbox'],[type='radio'] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0;
  -webkit-print-color-adjust: exact;
          color-adjust: exact;
  display: inline-block;
  vertical-align: middle;
  background-origin: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  flex-shrink: 0;
  height: 1rem;
  width: 1rem;
  color: #2563eb;
  background-color: #fff;
  border-color: #6b7280;
  border-width: 1px;
  --tw-shadow: 0 0 #0000;
}

[type='checkbox'] {
  border-radius: 0px;
}

[type='radio'] {
  border-radius: 100%;
}

[type='checkbox']:focus,[type='radio']:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
  --tw-ring-offset-width: 2px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #2563eb;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}

[type='checkbox']:checked,[type='radio']:checked {
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

[type='checkbox']:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}

[type='radio']:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
}

[type='checkbox']:checked:hover,[type='checkbox']:checked:focus,[type='radio']:checked:hover,[type='radio']:checked:focus {
  border-color: transparent;
  background-color: currentColor;
}

[type='checkbox']:indeterminate {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3e%3cpath stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 8h8'/%3e%3c/svg%3e");
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

[type='checkbox']:indeterminate:hover,[type='checkbox']:indeterminate:focus {
  border-color: transparent;
  background-color: currentColor;
}

[type='file'] {
  background: unset;
  border-color: inherit;
  border-width: 0;
  border-radius: 0;
  padding: 0;
  font-size: unset;
  line-height: inherit;
}

[type='file']:focus {
  outline: 1px auto -webkit-focus-ring-color;
}

*, ::before, ::after {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

.aspect-h-4 {
  --tw-aspect-h: 4;
}

.aspect-w-3 {
  position: relative;
  padding-bottom: calc(var(--tw-aspect-h) / var(--tw-aspect-w) * 100%);
  --tw-aspect-w: 3;
}

.aspect-w-3 > * {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.aspect-w-1 {
  position: relative;
  padding-bottom: calc(var(--tw-aspect-h) / var(--tw-aspect-w) * 100%);
  --tw-aspect-w: 1;
}

.aspect-w-1 > * {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.aspect-h-1 {
  --tw-aspect-h: 1;
}

.aspect-h-16 {
  --tw-aspect-h: 16;
}

.aspect-w-9 {
  position: relative;
  padding-bottom: calc(var(--tw-aspect-h) / var(--tw-aspect-w) * 100%);
  --tw-aspect-w: 9;
}

.aspect-w-9 > * {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.pBtn {
  display: flex;
  width: 100%;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  align-items: center;
  justify-content: center;
}

.pBtn > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1rem * var(--tw-space-x-reverse));
  margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
}

.pBtn {
  font-size: clamp(1rem, calc(1rem + 0.11160714285714285vw), 1.125rem);
}

@media (min-width: 768px) {
  .pBtn > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(1.25rem * var(--tw-space-x-reverse));
    margin-left: calc(1.25rem * calc(1 - var(--tw-space-x-reverse)));
  }
}

.pBtn svg {
  height: 0.375rem;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.pointer-events-none {
  pointer-events: none;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.inset-0 {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.top-\[65\%\] {
  top: 65%;
}

.left-0 {
  left: 0px;
}

.bottom-0 {
  bottom: 0px;
}

.top-\[6\.5rem\] {
  top: 6.5rem;
}

.right-28 {
  right: 7rem;
}

.top-4 {
  top: 1rem;
}

.left-1\/2 {
  left: 50%;
}

.top-0 {
  top: 0px;
}

.z-50 {
  z-index: 50;
}

.z-10 {
  z-index: 10;
}

.z-40 {
  z-index: 40;
}

.z-0 {
  z-index: 0;
}

.col-span-3 {
  grid-column: span 3 / span 3;
}

.row-start-2 {
  grid-row-start: 2;
}

.row-start-1 {
  grid-row-start: 1;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-14 {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}

.mt-1\.5 {
  margin-top: 0.375rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-20 {
  margin-top: 5rem;
}

.mt-16 {
  margin-top: 4rem;
}

.mt-2\.5 {
  margin-top: 0.625rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.-mb-28 {
  margin-bottom: -7rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mt-9 {
  margin-top: 2.25rem;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.h-screen {
  height: 100vh;
}

.h-0\.5 {
  height: 0.125rem;
}

.h-0 {
  height: 0px;
}

.h-10 {
  height: 2.5rem;
}

.h-8 {
  height: 2rem;
}

.h-\[4\.5rem\] {
  height: 4.5rem;
}

.w-full {
  width: 100%;
}

.w-\[23px\] {
  width: 23px;
}

.w-\[80\%\] {
  width: 80%;
}

.w-12 {
  width: 3rem;
}

.max-w-\[1152px\] {
  max-width: 1152px;
}

.max-w-lg {
  max-width: 32rem;
}

.max-w-xl {
  max-width: 36rem;
}

.max-w-screen-lg {
  max-width: 1024px;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.shrink-0 {
  flex-shrink: 0;
}

.origin-center {
  transform-origin: center;
}

.translate-y-\[4px\] {
  --tw-translate-y: 4px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-y-\[4px\] {
  --tw-translate-y: -4px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-x-1\/2 {
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-y-\[1\.125rem\] {
  --tw-translate-y: -1.125rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-45 {
  --tw-rotate: 45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-rotate-45 {
  --tw-rotate: -45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.cursor-pointer {
  cursor: pointer;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.place-items-center {
  place-items: center;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.items-stretch {
  align-items: stretch;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-\[1\.125rem\] {
  gap: 1.125rem;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-8 {
  gap: 2rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-20 {
  gap: 5rem;
}

.gap-x-4 {
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}

.gap-y-6 {
  row-gap: 1.5rem;
}

.space-y-2\.5 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.625rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.625rem * var(--tw-space-y-reverse));
}

.space-y-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}

.space-x-8 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(2rem * var(--tw-space-x-reverse));
  margin-left: calc(2rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-y-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}

.space-y-12 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(3rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(3rem * var(--tw-space-y-reverse));
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-y-auto {
  overflow-y: auto;
}

.scroll-smooth {
  scroll-behavior: smooth;
}

.border {
  border-width: 1px;
}

.border-x-0 {
  border-left-width: 0px;
  border-right-width: 0px;
}

.border-t-0 {
  border-top-width: 0px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-blue {
  --tw-border-opacity: 1;
  border-color: rgb(34 91 116 / var(--tw-border-opacity));
}

.bg-blue {
  --tw-bg-opacity: 1;
  background-color: rgb(34 91 116 / var(--tw-bg-opacity));
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-blush-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(248 238 232 / var(--tw-bg-opacity));
}

.bg-pink-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(252 248 247 / var(--tw-bg-opacity));
}

.bg-transparent {
  background-color: transparent;
}

.bg-gradient-to-r {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
}

.from-blush-50\/30 {
  --tw-gradient-from: rgb(248 238 232 / 0.3);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgb(248 238 232 / 0));
}

.to-blush-50 {
  --tw-gradient-to: #F8EEE8;
}

.bg-cover {
  background-size: cover;
}

.bg-fixed {
  background-attachment: fixed;
}

.bg-center {
  background-position: center;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.object-contain {
  -o-object-fit: contain;
     object-fit: contain;
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.object-center {
  -o-object-position: center;
     object-position: center;
}

.p-4 {
  padding: 1rem;
}

.p-8 {
  padding: 2rem;
}

.py-24 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.py-9 {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}

.px-12 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.px-7 {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

.pl-12 {
  padding-left: 3rem;
}

.pt-20 {
  padding-top: 5rem;
}

.pb-24 {
  padding-bottom: 6rem;
}

.pt-16 {
  padding-top: 4rem;
}

.pt-6 {
  padding-top: 1.5rem;
}

.pb-20 {
  padding-bottom: 5rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pt-28 {
  padding-top: 7rem;
}

.pt-8 {
  padding-top: 2rem;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.font-serif {
  font-family: Grafier, ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-\[0\.75rem\] {
  font-size: 0.75rem;
}

.capitalize {
  text-transform: capitalize;
}

.not-italic {
  font-style: normal;
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.text-blue {
  --tw-text-opacity: 1;
  color: rgb(34 91 116 / var(--tw-text-opacity));
}

.text-dune {
  --tw-text-opacity: 1;
  color: rgb(165 159 151 / var(--tw-text-opacity));
}

.opacity-100 {
  opacity: 1;
}

.opacity-0 {
  opacity: 0;
}

.transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.transition-opacity {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.type-lg {
  font-size: clamp(1rem, calc(1rem + 0.11160714285714285vw), 1.125rem);
}

.type-20 {
  font-size: clamp(1rem, calc(1rem + 0.2232142857142857vw), 1.25rem);
}

.type-xl {
  font-size: clamp(1.25rem, calc(1rem + 0.4464285714285714vw), 1.5rem);
}

.type-3xl {
  font-size: clamp(1.75rem, calc(1rem + 1.3392857142857142vw), 2.5rem);
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: undefined) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .flood-r {
    margin-right: -1rem;
  }

  .flood-l {
    margin-left: -1rem;
  }

  .flood-l-none {
    margin-left: 0;
  }

  .flood-r-none {
    margin-right: 0;
  }

  .conatiner-l {
    padding-left: 1rem;
  }

  .conatiner-r {
    padding-right: 1rem;
  }

  .bordered {
    padding-left: calc(1rem - 2rem);
    padding-right: calc(1rem - 2rem);
  }

  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .flood-r {
    margin-right: -2rem;
  }

  .flood-l {
    margin-left: -2rem;
  }

  .flood-l-none {
    margin-left: 0;
  }

  .flood-r-none {
    margin-right: 0;
  }

  .conatiner-l {
    padding-left: 2rem;
  }

  .conatiner-r {
    padding-right: 2rem;
  }

  .bordered {
    padding-left: calc(2rem - 2rem);
    padding-right: calc(2rem - 2rem);
  }
}

@media (min-width: 480px) {
  .container {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .flood-r {
    margin-right: -3rem;
  }

  .flood-l {
    margin-left: -3rem;
  }

  .flood-l-none {
    margin-left: 0;
  }

  .flood-r-none {
    margin-right: 0;
  }

  .conatiner-l {
    padding-left: 3rem;
  }

  .conatiner-r {
    padding-right: 3rem;
  }

  .bordered {
    padding-left: calc(3rem - 2rem);
    padding-right: calc(3rem - 2rem);
  }
}

@media (min-width: 768px) {
  .container {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .flood-r {
    margin-right: -4rem;
  }

  .flood-l {
    margin-left: -4rem;
  }

  .flood-l-none {
    margin-left: 0;
  }

  .flood-r-none {
    margin-right: 0;
  }

  .conatiner-l {
    padding-left: 4rem;
  }

  .conatiner-r {
    padding-right: 4rem;
  }

  .bordered {
    padding-left: calc(4rem - 2rem);
    padding-right: calc(4rem - 2rem);
  }
}

@media (min-width: 1024px) {
  .container {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  .flood-r {
    margin-right: -6rem;
  }

  .flood-l {
    margin-left: -6rem;
  }

  .flood-l-none {
    margin-left: 0;
  }

  .flood-r-none {
    margin-right: 0;
  }

  .conatiner-l {
    padding-left: 6rem;
  }

  .conatiner-r {
    padding-right: 6rem;
  }

  .bordered {
    padding-left: calc(6rem - 2rem);
    padding-right: calc(6rem - 2rem);
  }
}

@media (min-width: 1280px) {
  .container {
    padding-left: 8rem;
    padding-right: 8rem;
  }

  .flood-r {
    margin-right: -8rem;
  }

  .flood-l {
    margin-left: -8rem;
  }

  .flood-l-none {
    margin-left: 0;
  }

  .flood-r-none {
    margin-right: 0;
  }

  .conatiner-l {
    padding-left: 8rem;
  }

  .conatiner-r {
    padding-right: 8rem;
  }

  .bordered {
    padding-left: calc(8rem - 2rem);
    padding-right: calc(8rem - 2rem);
  }
}

@media (min-width: 1600px) {
  .container {
    padding-left: 8rem;
    padding-right: 8rem;
  }

  .flood-r {
    margin-right: -8rem;
  }

  .flood-l {
    margin-left: -8rem;
  }

  .flood-l-none {
    margin-left: 0;
  }

  .flood-r-none {
    margin-right: 0;
  }

  .conatiner-l {
    padding-left: 8rem;
  }

  .conatiner-r {
    padding-right: 8rem;
  }

  .bordered {
    padding-left: calc(8rem - 2rem);
    padding-right: calc(8rem - 2rem);
  }
}

@media (min-width: 1920px) {
  .container {
    padding-left: 8rem;
    padding-right: 8rem;
  }

  .flood-r {
    margin-right: -8rem;
  }

  .flood-l {
    margin-left: -8rem;
  }

  .flood-l-none {
    margin-left: 0;
  }

  .flood-r-none {
    margin-right: 0;
  }

  .conatiner-l {
    padding-left: 8rem;
  }

  .conatiner-r {
    padding-right: 8rem;
  }

  .bordered {
    padding-left: calc(8rem - 2rem);
    padding-right: calc(8rem - 2rem);
  }
}

/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */

input[type="number"] {
  -moz-appearance: textfield;
}

@font-face {
  font-family: Grafier;

  font-style: normal;

  font-weight: 400;

  src: url("./Grafier-Variable.ttf");
}

body {
  font-family: Grafier, serif;
}

* {
  scrollbar-width: none !important;
  outline: none;
}

*::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.h-screen-calc {
  height: calc(var(--vh, 1vh) * 100);
}

@media screen and (min-width: 768px) {
  .h-screen-calc {
    height: 100vh;
  }
}

/* Carousel CSS */

.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus {
  outline: none;
}

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* draggable */

.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.image-carousel .flickity-prev-next-button.previous {
  position: absolute;
  left: 50%;
  top: 1rem;
  width: 54px;
  height: 32px;
  transform: translateX(-125%);
  background: transparent;
  z-index: 30;
}

.image-carousel .flickity-prev-next-button.next {
  position: absolute;
  left: 50%;
  top: 1rem;
  width: 54px;
  height: 32px;
  transform: translateX(25%);
  z-index: 30;
}

.post-carousel .flickity-prev-next-button.previous {
  position: absolute;
  right: 5.5rem;
  top: -7rem;
  width: 54px;
  height: 32px;
}

.post-carousel .flickity-prev-next-button.next {
  position: absolute;
  right: 1rem;
  top: -7rem;
  width: 54px;
  height: 32px;
}

@media (min-width: 480px) {
  .post-carousel .flickity-prev-next-button.previous {
    right: 7.5rem;
    top: -7rem;
  }

  .post-carousel .flickity-prev-next-button.next {
    right: 3rem;
    top: -7rem;
  }
}

@media (min-width: 768px) {
  .post-carousel .flickity-prev-next-button.previous {
    right: 8.5rem;
    top: -7rem;
  }

  .post-carousel .flickity-prev-next-button.next {
    right: 4rem;
    top: -7rem;
  }
}

@media (min-width: 1024px) {
  .right-carousel .flickity-prev-next-button.previous {
    position: absolute;
    right: 195px;
    top: 1.5rem;
    width: 54px;
    height: 32px;
    z-index: 30;
  }

  .right-carousel .flickity-prev-next-button.next {
    position: absolute;
    right: 110px;
    top: 1.5rem;
    width: 54px;
    height: 32px;
    z-index: 30;
  }

  .post-carousel .flickity-prev-next-button.previous {
    right: 16.5rem;
    top: -7rem;
  }

  .post-carousel .flickity-prev-next-button.next {
    right: 12rem;
    top: -7rem;
  }
}

@media (min-width: 1280px) {
  .post-carousel .flickity-prev-next-button.previous {
    right: 21rem;
    top: -8rem;
  }

  .post-carousel .flickity-prev-next-button.next {
    right: 16rem;
    top: -8rem;
  }
}

.flickity-prev-next-button .flickity-button-icon {
  opacity: 0;
}

.placeholder\:text-transparent::-moz-placeholder {
  color: transparent;
}

.placeholder\:text-transparent:-ms-input-placeholder {
  color: transparent;
}

.placeholder\:text-transparent::placeholder {
  color: transparent;
}

.hover\:underline:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.focus\:border-blue:focus {
  --tw-border-opacity: 1;
  border-color: rgb(34 91 116 / var(--tw-border-opacity));
}

.focus\:ring-0:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.group:hover .group-hover\:translate-x-1 {
  --tw-translate-x: 0.25rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.peer:-moz-placeholder-shown ~ .peer-placeholder-shown\:translate-y-0 {
  --tw-translate-y: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.peer:-ms-input-placeholder ~ .peer-placeholder-shown\:translate-y-0 {
  --tw-translate-y: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.peer:placeholder-shown ~ .peer-placeholder-shown\:translate-y-0 {
  --tw-translate-y: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.peer:focus ~ .peer-focus\:-translate-y-\[1\.125rem\] {
  --tw-translate-y: -1.125rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hocus\:bg-blue:hover,.hocus\:bg-blue:focus {
  --tw-bg-opacity: 1;
  background-color: rgb(34 91 116 / var(--tw-bg-opacity));
}

.hocus\:text-white:hover,.hocus\:text-white:focus {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.hocus\:underline:hover,.hocus\:underline:focus {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.group:hover .group-hocus\:translate-y-2,.group:focus .group-hocus\:translate-y-2 {
  --tw-translate-y: 0.5rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@media (min-width: 480px) {
  .sm\:block {
    display: block;
  }

  .sm\:flex {
    display: flex;
  }

  .sm\:w-auto {
    width: auto;
  }

  .sm\:px-12 {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .sm\:leading-tight {
    line-height: 1.25;
  }

  .sm\:leading-normal {
    line-height: 1.5;
  }

  .sm\:type-10xl {
    font-size: clamp(5.25rem, calc(1rem + 7.142857142857142vw), 9rem);
  }
}

@media (min-width: 768px) {
  .md\:aspect-w-16 {
    position: relative;
    padding-bottom: calc(var(--tw-aspect-h) / var(--tw-aspect-w) * 100%);
    --tw-aspect-w: 16;
  }

  .md\:aspect-w-16 > * {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .md\:aspect-h-9 {
    --tw-aspect-h: 9;
  }

  .md\:col-span-2 {
    grid-column: span 2 / span 2;
  }

  .md\:col-span-1 {
    grid-column: span 1 / span 1;
  }

  .md\:col-start-1 {
    grid-column-start: 1;
  }

  .md\:row-start-2 {
    grid-row-start: 2;
  }

  .md\:mt-4 {
    margin-top: 1rem;
  }

  .md\:mt-28 {
    margin-top: 7rem;
  }

  .md\:-mb-40 {
    margin-bottom: -10rem;
  }

  .md\:mt-16 {
    margin-top: 4rem;
  }

  .md\:flex {
    display: flex;
  }

  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:grid-cols-\[repeat\(2\2c auto\)\] {
    grid-template-columns: repeat(2,auto);
  }

  .md\:gap-12 {
    gap: 3rem;
  }

  .md\:gap-10 {
    gap: 2.5rem;
  }

  .md\:gap-16 {
    gap: 4rem;
  }

  .md\:gap-24 {
    gap: 6rem;
  }

  .md\:gap-x-16 {
    -moz-column-gap: 4rem;
         column-gap: 4rem;
  }

  .md\:space-x-\[4\.5rem\] > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(4.5rem * var(--tw-space-x-reverse));
    margin-left: calc(4.5rem * calc(1 - var(--tw-space-x-reverse)));
  }

  .md\:p-12 {
    padding: 3rem;
  }

  .md\:py-10 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .md\:px-12 {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .md\:py-32 {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  .md\:px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .md\:py-12 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .md\:px-16 {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .md\:pl-0 {
    padding-left: 0px;
  }

  .md\:pt-10 {
    padding-top: 2.5rem;
  }

  .md\:pb-8 {
    padding-bottom: 2rem;
  }

  .md\:pt-40 {
    padding-top: 10rem;
  }

  .md\:pt-24 {
    padding-top: 6rem;
  }

  .md\:pb-20 {
    padding-bottom: 5rem;
  }

  .md\:text-left {
    text-align: left;
  }

  .md\:text-right {
    text-align: right;
  }

  .md\:text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .lg\:static {
    position: static;
  }

  .lg\:col-start-2 {
    grid-column-start: 2;
  }

  .lg\:row-start-1 {
    grid-row-start: 1;
  }

  .lg\:inline-block {
    display: inline-block;
  }

  .lg\:flex {
    display: flex;
  }

  .lg\:hidden {
    display: none;
  }

  .lg\:w-auto {
    width: auto;
  }

  .lg\:w-3\/4 {
    width: 75%;
  }

  .lg\:max-w-md {
    max-width: 28rem;
  }

  .lg\:translate-y-12 {
    --tw-translate-y: 3rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .lg\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .lg\:gap-0 {
    gap: 0px;
  }

  .lg\:gap-20 {
    gap: 5rem;
  }

  .lg\:space-y-8 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(2rem * var(--tw-space-y-reverse));
  }

  .lg\:py-16 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .lg\:px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .lg\:px-20 {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .lg\:pl-0 {
    padding-left: 0px;
  }

  .lg\:pr-12 {
    padding-right: 3rem;
  }

  .lg\:pr-0 {
    padding-right: 0px;
  }

  .lg\:pr-32 {
    padding-right: 8rem;
  }

  .lg\:container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .lg\:flood-r {
    margin-right: -1rem;
  }

  .lg\:flood-l {
    margin-left: -1rem;
  }

  @media (min-width: undefined) {
    .lg\:container {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .flood-r {
      margin-right: -1rem;
    }

    .flood-l {
      margin-left: -1rem;
    }

    .flood-l-none {
      margin-left: 0;
    }

    .flood-r-none {
      margin-right: 0;
    }

    .conatiner-l {
      padding-left: 1rem;
    }

    .conatiner-r {
      padding-right: 1rem;
    }

    .bordered {
      padding-left: calc(1rem - 2rem);
      padding-right: calc(1rem - 2rem);
    }
  }

  @media (min-width: undefined) {
    .container {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .lg\:flood-r {
      margin-right: -1rem;
    }

    .flood-l {
      margin-left: -1rem;
    }

    .flood-l-none {
      margin-left: 0;
    }

    .lg\:flood-r-none {
      margin-right: 0;
    }

    .conatiner-l {
      padding-left: 1rem;
    }

    .conatiner-r {
      padding-right: 1rem;
    }

    .bordered {
      padding-left: calc(1rem - 2rem);
      padding-right: calc(1rem - 2rem);
    }
  }

  @media (min-width: undefined) {
    .container {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .flood-r {
      margin-right: -1rem;
    }

    .lg\:flood-l {
      margin-left: -1rem;
    }

    .lg\:flood-l-none {
      margin-left: 0;
    }

    .flood-r-none {
      margin-right: 0;
    }

    .conatiner-l {
      padding-left: 1rem;
    }

    .conatiner-r {
      padding-right: 1rem;
    }

    .bordered {
      padding-left: calc(1rem - 2rem);
      padding-right: calc(1rem - 2rem);
    }
  }

  @media (min-width: undefined) {
    .lg\:container {
      padding-left: 2rem;
      padding-right: 2rem;
    }

    .flood-r {
      margin-right: -2rem;
    }

    .flood-l {
      margin-left: -2rem;
    }

    .flood-l-none {
      margin-left: 0;
    }

    .flood-r-none {
      margin-right: 0;
    }

    .conatiner-l {
      padding-left: 2rem;
    }

    .conatiner-r {
      padding-right: 2rem;
    }

    .bordered {
      padding-left: calc(2rem - 2rem);
      padding-right: calc(2rem - 2rem);
    }
  }

  @media (min-width: undefined) {
    .container {
      padding-left: 2rem;
      padding-right: 2rem;
    }

    .lg\:flood-r {
      margin-right: -2rem;
    }

    .flood-l {
      margin-left: -2rem;
    }

    .flood-l-none {
      margin-left: 0;
    }

    .lg\:flood-r-none {
      margin-right: 0;
    }

    .conatiner-l {
      padding-left: 2rem;
    }

    .conatiner-r {
      padding-right: 2rem;
    }

    .bordered {
      padding-left: calc(2rem - 2rem);
      padding-right: calc(2rem - 2rem);
    }
  }

  @media (min-width: undefined) {
    .container {
      padding-left: 2rem;
      padding-right: 2rem;
    }

    .flood-r {
      margin-right: -2rem;
    }

    .lg\:flood-l {
      margin-left: -2rem;
    }

    .lg\:flood-l-none {
      margin-left: 0;
    }

    .flood-r-none {
      margin-right: 0;
    }

    .conatiner-l {
      padding-left: 2rem;
    }

    .conatiner-r {
      padding-right: 2rem;
    }

    .bordered {
      padding-left: calc(2rem - 2rem);
      padding-right: calc(2rem - 2rem);
    }
  }

  @media (min-width: 480px) {
    .lg\:container {
      padding-left: 3rem;
      padding-right: 3rem;
    }

    .flood-r {
      margin-right: -3rem;
    }

    .flood-l {
      margin-left: -3rem;
    }

    .flood-l-none {
      margin-left: 0;
    }

    .flood-r-none {
      margin-right: 0;
    }

    .conatiner-l {
      padding-left: 3rem;
    }

    .conatiner-r {
      padding-right: 3rem;
    }

    .bordered {
      padding-left: calc(3rem - 2rem);
      padding-right: calc(3rem - 2rem);
    }
  }

  @media (min-width: 480px) {
    .container {
      padding-left: 3rem;
      padding-right: 3rem;
    }

    .lg\:flood-r {
      margin-right: -3rem;
    }

    .flood-l {
      margin-left: -3rem;
    }

    .flood-l-none {
      margin-left: 0;
    }

    .lg\:flood-r-none {
      margin-right: 0;
    }

    .conatiner-l {
      padding-left: 3rem;
    }

    .conatiner-r {
      padding-right: 3rem;
    }

    .bordered {
      padding-left: calc(3rem - 2rem);
      padding-right: calc(3rem - 2rem);
    }
  }

  @media (min-width: 480px) {
    .container {
      padding-left: 3rem;
      padding-right: 3rem;
    }

    .flood-r {
      margin-right: -3rem;
    }

    .lg\:flood-l {
      margin-left: -3rem;
    }

    .lg\:flood-l-none {
      margin-left: 0;
    }

    .flood-r-none {
      margin-right: 0;
    }

    .conatiner-l {
      padding-left: 3rem;
    }

    .conatiner-r {
      padding-right: 3rem;
    }

    .bordered {
      padding-left: calc(3rem - 2rem);
      padding-right: calc(3rem - 2rem);
    }
  }

  @media (min-width: 768px) {
    .lg\:container {
      padding-left: 4rem;
      padding-right: 4rem;
    }

    .flood-r {
      margin-right: -4rem;
    }

    .flood-l {
      margin-left: -4rem;
    }

    .flood-l-none {
      margin-left: 0;
    }

    .flood-r-none {
      margin-right: 0;
    }

    .conatiner-l {
      padding-left: 4rem;
    }

    .conatiner-r {
      padding-right: 4rem;
    }

    .bordered {
      padding-left: calc(4rem - 2rem);
      padding-right: calc(4rem - 2rem);
    }
  }

  @media (min-width: 768px) {
    .container {
      padding-left: 4rem;
      padding-right: 4rem;
    }

    .lg\:flood-r {
      margin-right: -4rem;
    }

    .flood-l {
      margin-left: -4rem;
    }

    .flood-l-none {
      margin-left: 0;
    }

    .lg\:flood-r-none {
      margin-right: 0;
    }

    .conatiner-l {
      padding-left: 4rem;
    }

    .conatiner-r {
      padding-right: 4rem;
    }

    .bordered {
      padding-left: calc(4rem - 2rem);
      padding-right: calc(4rem - 2rem);
    }
  }

  @media (min-width: 768px) {
    .container {
      padding-left: 4rem;
      padding-right: 4rem;
    }

    .flood-r {
      margin-right: -4rem;
    }

    .lg\:flood-l {
      margin-left: -4rem;
    }

    .lg\:flood-l-none {
      margin-left: 0;
    }

    .flood-r-none {
      margin-right: 0;
    }

    .conatiner-l {
      padding-left: 4rem;
    }

    .conatiner-r {
      padding-right: 4rem;
    }

    .bordered {
      padding-left: calc(4rem - 2rem);
      padding-right: calc(4rem - 2rem);
    }
  }

  @media (min-width: 1024px) {
    .lg\:container {
      padding-left: 6rem;
      padding-right: 6rem;
    }

    .flood-r {
      margin-right: -6rem;
    }

    .flood-l {
      margin-left: -6rem;
    }

    .flood-l-none {
      margin-left: 0;
    }

    .flood-r-none {
      margin-right: 0;
    }

    .conatiner-l {
      padding-left: 6rem;
    }

    .conatiner-r {
      padding-right: 6rem;
    }

    .bordered {
      padding-left: calc(6rem - 2rem);
      padding-right: calc(6rem - 2rem);
    }
  }

  @media (min-width: 1024px) {
    .container {
      padding-left: 6rem;
      padding-right: 6rem;
    }

    .lg\:flood-r {
      margin-right: -6rem;
    }

    .flood-l {
      margin-left: -6rem;
    }

    .flood-l-none {
      margin-left: 0;
    }

    .lg\:flood-r-none {
      margin-right: 0;
    }

    .conatiner-l {
      padding-left: 6rem;
    }

    .conatiner-r {
      padding-right: 6rem;
    }

    .bordered {
      padding-left: calc(6rem - 2rem);
      padding-right: calc(6rem - 2rem);
    }
  }

  @media (min-width: 1024px) {
    .container {
      padding-left: 6rem;
      padding-right: 6rem;
    }

    .flood-r {
      margin-right: -6rem;
    }

    .lg\:flood-l {
      margin-left: -6rem;
    }

    .lg\:flood-l-none {
      margin-left: 0;
    }

    .flood-r-none {
      margin-right: 0;
    }

    .conatiner-l {
      padding-left: 6rem;
    }

    .conatiner-r {
      padding-right: 6rem;
    }

    .bordered {
      padding-left: calc(6rem - 2rem);
      padding-right: calc(6rem - 2rem);
    }
  }

  @media (min-width: 1280px) {
    .lg\:container {
      padding-left: 8rem;
      padding-right: 8rem;
    }

    .flood-r {
      margin-right: -8rem;
    }

    .flood-l {
      margin-left: -8rem;
    }

    .flood-l-none {
      margin-left: 0;
    }

    .flood-r-none {
      margin-right: 0;
    }

    .conatiner-l {
      padding-left: 8rem;
    }

    .conatiner-r {
      padding-right: 8rem;
    }

    .bordered {
      padding-left: calc(8rem - 2rem);
      padding-right: calc(8rem - 2rem);
    }
  }

  @media (min-width: 1280px) {
    .container {
      padding-left: 8rem;
      padding-right: 8rem;
    }

    .lg\:flood-r {
      margin-right: -8rem;
    }

    .flood-l {
      margin-left: -8rem;
    }

    .flood-l-none {
      margin-left: 0;
    }

    .lg\:flood-r-none {
      margin-right: 0;
    }

    .conatiner-l {
      padding-left: 8rem;
    }

    .conatiner-r {
      padding-right: 8rem;
    }

    .bordered {
      padding-left: calc(8rem - 2rem);
      padding-right: calc(8rem - 2rem);
    }
  }

  @media (min-width: 1280px) {
    .container {
      padding-left: 8rem;
      padding-right: 8rem;
    }

    .flood-r {
      margin-right: -8rem;
    }

    .lg\:flood-l {
      margin-left: -8rem;
    }

    .lg\:flood-l-none {
      margin-left: 0;
    }

    .flood-r-none {
      margin-right: 0;
    }

    .conatiner-l {
      padding-left: 8rem;
    }

    .conatiner-r {
      padding-right: 8rem;
    }

    .bordered {
      padding-left: calc(8rem - 2rem);
      padding-right: calc(8rem - 2rem);
    }
  }

  @media (min-width: 1600px) {
    .lg\:container {
      padding-left: 8rem;
      padding-right: 8rem;
    }

    .flood-r {
      margin-right: -8rem;
    }

    .flood-l {
      margin-left: -8rem;
    }

    .flood-l-none {
      margin-left: 0;
    }

    .flood-r-none {
      margin-right: 0;
    }

    .conatiner-l {
      padding-left: 8rem;
    }

    .conatiner-r {
      padding-right: 8rem;
    }

    .bordered {
      padding-left: calc(8rem - 2rem);
      padding-right: calc(8rem - 2rem);
    }
  }

  @media (min-width: 1600px) {
    .container {
      padding-left: 8rem;
      padding-right: 8rem;
    }

    .lg\:flood-r {
      margin-right: -8rem;
    }

    .flood-l {
      margin-left: -8rem;
    }

    .flood-l-none {
      margin-left: 0;
    }

    .lg\:flood-r-none {
      margin-right: 0;
    }

    .conatiner-l {
      padding-left: 8rem;
    }

    .conatiner-r {
      padding-right: 8rem;
    }

    .bordered {
      padding-left: calc(8rem - 2rem);
      padding-right: calc(8rem - 2rem);
    }
  }

  @media (min-width: 1600px) {
    .container {
      padding-left: 8rem;
      padding-right: 8rem;
    }

    .flood-r {
      margin-right: -8rem;
    }

    .lg\:flood-l {
      margin-left: -8rem;
    }

    .lg\:flood-l-none {
      margin-left: 0;
    }

    .flood-r-none {
      margin-right: 0;
    }

    .conatiner-l {
      padding-left: 8rem;
    }

    .conatiner-r {
      padding-right: 8rem;
    }

    .bordered {
      padding-left: calc(8rem - 2rem);
      padding-right: calc(8rem - 2rem);
    }
  }

  @media (min-width: 1920px) {
    .lg\:container {
      padding-left: 8rem;
      padding-right: 8rem;
    }

    .flood-r {
      margin-right: -8rem;
    }

    .flood-l {
      margin-left: -8rem;
    }

    .flood-l-none {
      margin-left: 0;
    }

    .flood-r-none {
      margin-right: 0;
    }

    .conatiner-l {
      padding-left: 8rem;
    }

    .conatiner-r {
      padding-right: 8rem;
    }

    .bordered {
      padding-left: calc(8rem - 2rem);
      padding-right: calc(8rem - 2rem);
    }
  }

  @media (min-width: 1920px) {
    .container {
      padding-left: 8rem;
      padding-right: 8rem;
    }

    .lg\:flood-r {
      margin-right: -8rem;
    }

    .flood-l {
      margin-left: -8rem;
    }

    .flood-l-none {
      margin-left: 0;
    }

    .lg\:flood-r-none {
      margin-right: 0;
    }

    .conatiner-l {
      padding-left: 8rem;
    }

    .conatiner-r {
      padding-right: 8rem;
    }

    .bordered {
      padding-left: calc(8rem - 2rem);
      padding-right: calc(8rem - 2rem);
    }
  }

  @media (min-width: 1920px) {
    .container {
      padding-left: 8rem;
      padding-right: 8rem;
    }

    .flood-r {
      margin-right: -8rem;
    }

    .lg\:flood-l {
      margin-left: -8rem;
    }

    .lg\:flood-l-none {
      margin-left: 0;
    }

    .flood-r-none {
      margin-right: 0;
    }

    .conatiner-l {
      padding-left: 8rem;
    }

    .conatiner-r {
      padding-right: 8rem;
    }

    .bordered {
      padding-left: calc(8rem - 2rem);
      padding-right: calc(8rem - 2rem);
    }
  }
}

@media (min-width: 1280px) {
  .xl\:col-span-3 {
    grid-column: span 3 / span 3;
  }

  .xl\:col-span-2 {
    grid-column: span 2 / span 2;
  }

  .xl\:col-start-4 {
    grid-column-start: 4;
  }

  .xl\:row-start-1 {
    grid-row-start: 1;
  }

  .xl\:my-20 {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .xl\:mt-16 {
    margin-top: 4rem;
  }

  .xl\:mt-36 {
    margin-top: 9rem;
  }

  .xl\:mt-24 {
    margin-top: 6rem;
  }

  .xl\:mt-44 {
    margin-top: 11rem;
  }

  .xl\:-mb-64 {
    margin-bottom: -16rem;
  }

  .xl\:mt-12 {
    margin-top: 3rem;
  }

  .xl\:flex {
    display: flex;
  }

  .xl\:max-w-md {
    max-width: 28rem;
  }

  .xl\:translate-y-20 {
    --tw-translate-y: 5rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .xl\:grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .xl\:flex-col {
    flex-direction: column;
  }

  .xl\:justify-start {
    justify-content: flex-start;
  }

  .xl\:gap-7 {
    gap: 1.75rem;
  }

  .xl\:gap-32 {
    gap: 8rem;
  }

  .xl\:gap-16 {
    gap: 4rem;
  }

  .xl\:gap-0 {
    gap: 0px;
  }

  .xl\:gap-4 {
    gap: 1rem;
  }

  .xl\:gap-y-16 {
    row-gap: 4rem;
  }

  .xl\:space-y-24 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(6rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(6rem * var(--tw-space-y-reverse));
  }

  .xl\:space-y-8 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(2rem * var(--tw-space-y-reverse));
  }

  .xl\:p-16 {
    padding: 4rem;
  }

  .xl\:py-40 {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  .xl\:px-12 {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .xl\:py-20 {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .xl\:py-24 {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .xl\:py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .xl\:px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .xl\:pl-24 {
    padding-left: 6rem;
  }

  .xl\:pb-36 {
    padding-bottom: 9rem;
  }

  .xl\:pt-48 {
    padding-top: 12rem;
  }

  .xl\:pb-28 {
    padding-bottom: 7rem;
  }

  .xl\:pt-24 {
    padding-top: 6rem;
  }

  .xl\:pb-32 {
    padding-bottom: 8rem;
  }

  .xl\:pb-8 {
    padding-bottom: 2rem;
  }

  .xl\:pt-64 {
    padding-top: 16rem;
  }

  .xl\:text-left {
    text-align: left;
  }
}

@media (min-width: 1920px) {
  .xxxl\:aspect-h-16 {
    --tw-aspect-h: 16;
  }

  .xxxl\:aspect-w-9 {
    position: relative;
    padding-bottom: calc(var(--tw-aspect-h) / var(--tw-aspect-w) * 100%);
    --tw-aspect-w: 9;
  }

  .xxxl\:aspect-w-9 > * {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .xxxl\:gap-24 {
    gap: 6rem;
  }

  .xxxl\:px-32 {
    padding-left: 8rem;
    padding-right: 8rem;
  }

  .xxxl\:pr-16 {
    padding-right: 4rem;
  }

  .xxxl\:pl-36 {
    padding-left: 9rem;
  }

  .xxxl\:pb-\[21rem\] {
    padding-bottom: 21rem;
  }

  .xxxl\:pr-64 {
    padding-right: 16rem;
  }
}
